/* stylelint-disable no-descending-specificity */

.header {
	position: fixed;
	z-index: $z-index-navbar;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: $layout-header-height;
	align-items: center;
	justify-content: space-between;
	padding-left: $layout-sidepanel-width;

	.header-inner {
		display: flex;
		height: inherit;
		align-items: center;
		justify-content: space-between;
	}
}
