/* stylelint-disable no-descending-specificity */

.header {
	position: fixed;
	z-index: $z-index-navbar;
	top: 0;
	left: 0;
	width: 100%;
	height: $layout-header-height;
	padding-left: $layout-sidepanel-width;

	.header-inner {
		height: 100%;
	}
}
