@font-face {
	font-display: block;
	font-family: pages-icon;
	font-style: normal;
	font-weight: normal;
	src: url("#{$base-url}fonts/pages-icon/pages-icon.woff") format("woff");
}

.pg-icon {
	direction: ltr;
	font-family: pages-icon;
	font-feature-settings: "liga";
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-variant-ligatures: discretionary-ligatures;
	font-weight: normal;
	letter-spacing: 0;
	line-height: 1;
	text-rendering: optimizelegibility;
	text-transform: none;
	white-space: nowrap;
	word-wrap: normal;
}
