.dd-handle {
	border-color: fade($color-contrast-low, 70%);
	color: $color-contrast-high;
	transition: backgroud 0.2s ease-in;

	&:hover {
		background-color: $color-contrast-lowest;
	}
}

.dark {
	.dd-handle {
		background: $color-contrast-lower;
		color: $color-contrast-high;

		&:hover {
			background-color: fade($color-contrast-lower, 60%);
		}
	}

	.dd-placeholder {
		background-color: $color-contrast-lower;
	}
}

.dd3-content {
	border-color: fade($color-contrast-low, 70%);
	background: $color-contrast-lowest;
	color: $color-contrast-high;

	&:hover {
		background-color: $color-contrast-lowest;
	}
}

.dd3-handle {
	background: transparent;
	text-indent: 9999px;

	&::before {
		top: 4px;
		color: $color-contrast-high;
		content: "\e912";
		font-family: pages-icon;
	}
}

.dd-placeholder {
	border-color: fade($color-contrast-high, 35%);
	background: $color-contrast-lower;
}

.dd-empty {
	border-color: fade($color-contrast-high, 50%);
	background-color: $color-contrast-lower;
	background-image: none;
}

.dd-item > button {
	font-size: 11px;

	&::before {
		content: "\e988";
		font-family: pages-icon;
	}
}

/* stylelint-disable-next-line selector-no-qualifying-type */
.dd-item > button[data-action="collapse"]::before {
	content: "\e986";
	font-family: pages-icon;
}

@media only screen and (min-width: 700px) {
	.dd {
		width: 100%;
	}

	.nestable-lists {
		.dd {
			float: left;
		}
	}
}
