/* stylelint-disable selector-max-id */
span.dynatree-active a {
	background-color: transparent;
	color: $color-contrast-higher;
}

span.dynatree-selected a {
	color: $color-contrast-higher;
	font-style: normal;
}

ul.dynatree-container a:focus,
span.dynatree-focused a:link {
	background-color: transparent;
}

ul.dynatree-container {
	background-color: transparent;

	a:hover {
		background-color: transparent;
		color: $color-contrast-high;
		opacity: 0.7;
	}
}

ul.dynatree-container a {
	color: $color-contrast-high;
}

span.dynatree-empty,
span.dynatree-vline,
span.dynatree-connector,
span.dynatree-expander,
span.dynatree-icon,
span.dynatree-checkbox,
span.dynatree-radio,
span.dynatree-drag-helper-img,
#dynatree-drop-marker {
	position: relative;
	top: 3px;
	height: 17px;
}
