/* stylelint-disable max-nesting-depth */
/* stylelint-disable no-descending-specificity */
/* stylelint-disable selector-no-qualifying-type */

.horizontal-app-menu {
	display: flex;

	.header {
		display: block;
		height: auto;
		flex-shrink: 0;
		background-color: $color-menu;
		color: $color-menu-light;

		.header-inner {
			position: relative;
			height: 60px;
			background-color: transparent;
			color: $color-menu-light;
		}

		.bubble, .profile-dropdown-toggle::after{
			border-color: $color-menu;
		}

		.header-lg-height {
			height: $header-lg-height;
		}

		.header-md-height {
			height: $header-md-height;
		}

		.header-sm-height {
			height: $header-sm-height;
		}

		.search-link {
			color: $color-menu-light;
		}

		.header-inner {
			.brand.inline {
				position: relative;
				width: auto;
				padding-right: 15px;
				border-right: 1px solid #40444d;
				margin-right: 0;

				> img {
					width: auto;
				}
			}
		}

		.title-bar {
			padding-bottom: 18px;
		}

		.page-title {
			margin-bottom: 0;
			margin-left: 15px;
			color: $color-menu-light;
			font-size: 21px;
			font-weight: normal;
			line-height: 21px;
		}

		.header-icon {
			color: $color-menu-light;
		}
	}

	&.fixed-header {
		overflow: hidden;

		.header {
			position: relative;
		}

		.page-container {
			overflow: scroll;
			overflow-x: hidden;
		}
	}

	.menu-bar {
		position: relative;
		display: flex;
		flex-direction: row;
		color: $color-menu-light;

		ul {
			padding: 0;
			border-radius: 3px;
			margin: 0;
			list-style: none;

			li a {
				.arrow {
					position: relative;
					display: inline-flex;
					width: 23px;
					align-items: center;
					padding-left: 15px;

					&::before {
						position: relative;
						top: 2px;
						height: auto;
						content: "\e989";
						font-family: pages-icon;
						font-size: 16px;
						rotate: -90deg;
						text-shadow: none;
						transition: all 0.12s ease;
					}
				}
			}

			li {
				line-height: 24px;

				&.more{
					.title{
						display: flex;
					}
				}

				.sub-menu {
					position: absolute;
					z-index: 1;
					top: 0;
					left: 50%;
					min-width: calc(100% + 4px);
					padding: 18px $menu-padding;
					background: $color-contrast-lowest;
					box-shadow: rgb(15 15 15 / 8%) 0 4px 12px, rgb(15 15 15 / 20%) 0 9px 24px;
					opacity: 0;
					transform: translate3d(15px, 0, 0);
					transition: all 0.15s ease-in;
					visibility: hidden;

					li a {
						display: block;
						overflow: hidden;
						width: 100%;
						min-width: 50px;
						padding: 4px 0;
						font-weight: 400;
						opacity: 0.8;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
				}

				&:hover {
					> .sub-menu {
						opacity: 1;
                        transform: translate3d(calc(34% + 0.5px), 0, 0);
						visibility: visible;
					}
				}
			}
		}

		> ul {
			display: flex;
			flex-flow: row nowrap;

			> li {
				position: relative;
				display: inline-flex;
				flex: 1 0 auto;
				align-items: center;
				padding: 0;

				&:hover:not(.open) {
					> a {
						color: $color-menu-link-hover;
					}
				}

				&:first-child {
					> a {
						padding-left: 0;
					}
				}

				&:last-child {
					> a {
						padding-right: 0;
					}
				}

				> a {
					padding: 0 20px;
				}

				> ul {
					position: absolute;
					z-index: 2;
					top: -7px;
					left: -4px;
					display: none;
					min-width: calc(100% + 4px);
					padding: 0 $menu-padding;
					padding-top: 60px;
					padding-bottom: 18px;
					border: 0;
					background: $color-contrast-lowest;
					box-shadow: rgb(15 15 15 / 8%) 0 4px 12px, rgb(15 15 15 / 20%) 0 9px 24px;
					color: $color-contrast-high;
					list-style: none;
					opacity: 0;


					.arrow {
						display: flex;
						justify-content: center;
					}

				}

				&.open {
					> ul {
						display: block;

						&::before {
							position: absolute;
							top: $navbar-width + 7px;
							width: calc(100% - $menu-padding * 2);
							height: 1px;
							background-color: $color-border-a;
							content: "";
						}

						> li {
							padding-left: 0;
							opacity: 0;
							transform: translate3d(0, -10px, 0);
							transition: all 0.18s ease;


							> a {
								display: flex;
								overflow: hidden;
								width: 100%;
								min-width: 50px;
								justify-content: space-between;
								padding: 4px 0;
								font-weight: 400;
								opacity: 0.8;
								text-overflow: ellipsis;
								white-space: nowrap;

								> .arrow::before {
									rotate: 180deg;
								}
							}

							&:last-child {
								> a {
									padding-bottom: 0;
								}
							}
						}
					}

					> a {
						color: $color-contrast-high;
						opacity: 0;
						transform: translate3d(0, -10px, 0);
						transition: all 0.18s ease;
					}
				}

				&.opening {
					> ul {
						opacity: 1;

						> li {
							opacity: 1;
							transform: translate3d(0, 0, 0);
						}
					}

					> a {
						position: relative;
						z-index: 10;
						opacity: 1;
						transform: translate3d(0, 0, 0);
					}
				}

				&.closing {
					> ul {
						opacity: 0;

						> li {
							opacity: 0;
							transform: translate3d(0, -10px, 0);
						}
					}

					> a {
						opacity: 0;
						transform: translate3d(0, -10px, 0);
					}
				}
			}

			li > a {
				color: inherit;
			}
		}
	}

	.secondary-sidebar {
		border: 1px solid $color-border-a;
		margin-left: -25px;

		.main-menu > li.active {
			background: transparent;
		}
	}

	.inner-content {
		margin-left: 225px;
	}

	.content {
		flex: 1;
	}

	.page-container {
		padding-left: 0;

		.page-content-wrapper .content {
			padding-top: 0;
		}
	}

	.ghost-nav-dropdown {
		position: absolute;
		z-index: 1000;
		top: -7px;
		left: -4px;
		border-radius: 3px;
		background: $color-contrast-lowest;
		box-shadow: rgb(15 15 15 / 8%) 0 4px 12px, rgb(15 15 15 / 20%) 0 9px 24px;
		transition: all 0.18s ease-in;
	}

	.calendar {
		.calendar-header {
			position: relative;
			left: -20px;
			padding-left: 0;
			background-color: transparent;
		}

		.options {
			padding-left: 0;
		}

		.months .month:first-child {
			padding-left: 0;
		}

		.weeks-wrapper {
			padding-left: 0;
			margin-left: 0;
		}

		.week-dragger {
			margin-left: 0;
		}

		.calendar-container .grid {
			overflow: hidden;
		}
	}
}
