.fixed-header {
	.header {
		position: fixed;
		left: 0;
		top: 0;
		user-select: none;
	}
}

.no-header {
	.page-container .page-content-wrapper .content {
		padding-top: 0;
	}

	.header {
		border-bottom-color: transparent;
	}
}

.dashboard {
	background: $dashboard-background;

	.page-container {
		background: $dashboard-background;
	}
}

.menu-pin {
	.overlay {
		padding-left: 0;

		.overlay-brand {
			margin-left: 0;
		}
	}
}

.page-container {
	width: 100%;
	height: 100%;
	padding-left: $layout-sidepanel-width-collapsed;

	.page-content-wrapper {
		min-height: 100%;
		position: relative;

		.content {
			z-index: 10;
			padding-top: $layout-header-height;
			padding-bottom: 69px;
			min-height: 100%;
			transition: all 0.3s ease;

			&.full-width {
				width: 100%;
			}

			.content-inner {
				display: inline-block;
				vertical-align: top;
				height: 100%;
				padding-left: 30px;
				position: relative;
			}

			&:only-child {
				padding-bottom: 0;
			}

			&.overlay-footer {
				padding-bottom: 0;
			}
		}

		.footer {
			width: auto;
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			transition: left 0.3s ease;

			&.fixed {
				position: fixed;
			}
		}
	}
}

.page-title {
	margin-top: 0;
}

.group-container {
	white-space: nowrap;

	.single-group {
		vertical-align: top;
		display: inline-block;
		white-space: normal;
	}
}

.jumbotron {
	position: relative;
	overflow: hidden;
	display: block;
	padding: 0;

	.inner {
		position: relative;
		z-index: 2;
	}

	&.lg {
		height: 495px;
	}

	background-color: $color-contrast-lowest;

	.cover-photo {
		width: 100%;
		height: inherit;
		overflow: hidden;
		transition: opacity 0.3s ease;
		background-size: cover;
		background-color: $color-success;

		img {
			display: none;
		}
	}

	h1 {
		font-size: 44px;
	}
}

.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
	position: relative;
}

.copyright {
	padding: 25px 0;
	border-top: 1px solid $color-contrast-low;
}

.pager {
	margin: 0;
}

@media (min-width: 1400px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl,
	.container-xxl {
		max-width: 1140px;
	}
}
