/* stylelint-disable selector-no-qualifying-type */
.inner-content {
	margin-top: 0;
	padding: 0;
	overflow: auto;
	min-height: 100%;
	margin-left: $secondary-sidebar-width;
}

.toggle-secondary-sidebar {
	display: none;
}

.secondary-sidebar {
	background: $color-contrast-lowest;
	width: $secondary-sidebar-width;
	float: left;
	height: 100%;
	position: fixed;

	&.not-fixed {
		position: inherit;
	}

	&.open {
		position: fixed;
		visibility: hidden;
		display: block;
	}

	.btn-compose {
		font-family: $secondary-font-family;
		font-size: 13px;
		font-weight: normal;
		letter-spacing: 0.02em;
		text-transform: uppercase;
	}

	.menu-title {
		color: $color-contrast-medium;
		font-size: 10.8px;
		font-family: $secondary-font-family;
		font-weight: normal;
		letter-spacing: 0.03em;
	}

	padding: 20px 20px 47px 0;

	.menu-title {
		padding-left: 30px;
	}

	> ul > li {
		padding-left: 0;
	}

	ul {
		li {
			a {
				display: flex;
				padding-left: 30px;
				padding-right: 10px;

				> .icon-thumbnail {
					display: flex;
					height: auto;
					width: auto;
					line-height: auto;

					> svg {
						align-self: center;
					}
				}

				&.active {
					color: $color-contrast-higher;
				}

				> .title {
					width: 100%;
					align-self: center;
					display: flex;
					align-items: center;

					&::after {
						display: none;
					}
				}

				> .badge {
					align-self: center;
				}

				> .arrow {
					&::before {
						float: right;
						display: inline;
						font-size: 16px;
						font-family: pages-icon;
						height: auto;
						content: "\e989";
						font-weight: 300;
						text-shadow: none;
						transition: all 0.12s ease;
					}
				}
			}

			ul {
				margin: 0;
				padding-top: 7px;
				padding-bottom: 5px;
				padding-left: 7px;

				li {
					padding: 0;
					margin-bottom: 9px;
					margin-top: 5px;
				}
			}

			&.open {
				> a {
					color: $color-contrast-higher;

					.arrow::before {
						rotate: -90deg;
					}
				}

				> ul {
					display: block;
				}
			}

			> ul {
				display: none;
			}
		}
	}

	.main-menu {
		padding-left: 0;

		> li {
			list-style: none;
			border-top-right-radius: 16px;
			border-bottom-right-radius: 16px;

			&.active {
				background: $color-contrast-lower;

				> a {
					color: $color-complete;

					&:hover {
						color: $color-complete;
					}

					> .title {
						&::after {
							background: $color-complete;
							border-radius: 50%;
							content: "";
							height: 7px;
							position: absolute;
							right: -14px;
							top: 6.5px;
							width: 7px;
						}
					}
				}
			}

			a {
				font-size: 14px;
				color: $color-contrast-high;
				line-height: 32px;
				font-weight: 400;

				&:hover {
					color: $color-contrast-higher;
				}

				> .title {
					i {
						margin-right: 6px;
						opacity: 0.9;
					}
				}
			}
		}
	}

	.sub-menu {
		margin-left: 23px;

		li {
			list-style: none;
			padding: 0;

			&.active {
				a {
					color: $color-contrast-higher;
				}
			}

			a {
				color: $color-contrast-high;
				line-height: 25px;
				font-weight: 400;

				&:hover {
					color: $color-contrast-higher;
				}
			}
		}
	}

	.sub-menu li a,
	.main-menu li a {
		.badge {
			background: transparent;
			font-size: 13px;
			color: $color-menu-light;
			line-height: 25px;
		}
	}

	&.light {
		background-color: #fff;
		border-right: 1px solid $color-border-a;

		.menu-title {
			color: fade($color-menu-light, 60%);
			opacity: 1;
		}

		.icon-thumbnail {
			background-color: transparent;
		}

		.main-menu {
			li {
				a {
					&:hover {
						color: $color-contrast-higher;
					}
				}

				&.active {
					> a {
						color: $color-contrast-higher;
					}
				}
			}
		}

		.sub-menu {
			margin-top: 5px;

			li {
				&.active {
					a {
						color: $color-contrast-higher;
					}
				}

				a {
					color: fade($color-menu-light, 60%);

					&:hover {
						color: $color-contrast-higher;
					}
				}
			}
		}
	}
}
