<!DOCTYPE html>
<html data-bs-theme="dark">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>{{title}}</title>

	{{! common used source styles and scripts }}
	<link href="@styles/index.scss" rel="stylesheet">
	<script src="@scripts/index.js" defer="defer"></script>

	{{! blocks for page-specific styles and scripts }}
	{{#block 'styles'}}{{/block}}
	{{#block 'scripts'}}{{/block}}
</head>

<body>
	{{> sidebar}}

	<div class="page-container d-flex flex-column min-vh-100 w-100">
		{{> toolbar}}

		<!-- START PAGE CONTENT WRAPPER -->
		<div class="page-content-wrapper d-flex flex-column flex-fill p-3">

			<div class="container-fluid flex-fill p-0">
				{{! output content block defined in a parent template }}
				{{#block 'content'}}{{/block}}
			</div>

			{{> footer }}
		</div>
		<!-- END PAGE CONTENT WRAPPER -->

	</div>
</body>

</html>
