<nav class="page-sidebar d-flex flex-column flex-shrink-0 vh-100" data-pages="sidebar">
	<!-- BEGIN SIDEBAR MENU HEADER-->
	<div class="sidebar-header pt-3">
		<a href="/" class="brand d-block text-white text-decoration-none lh-base px-3">
			<img src="@images/logo.svg" alt="logo" class="brand-logo">
		</a>
	</div>
	<!-- END SIDEBAR MENU HEADER-->

	<!-- START SIDEBAR MENU -->
	<div class="sidebar-menu">
		<!-- BEGIN SIDEBAR MENU ITEMS-->
		<ul class="nav list-group">
			<li class="list-group-item px-3 py-2">
				<a href="/request">
					<span class="title">Request Form</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- END SIDEBAR MENU -->
</nav>