<!-- START PAGE HEADER WRAPPER -->
<div class="header d-flex">
	<div class="header-inner d-flex align-items-center justify-content-end flex-fill py-2 px-3 w-100">
		<!-- START MOBILE SIDEBAR TOGGLE -->
		<!-- END MOBILE SIDEBAR TOGGLE -->

		<div class="d-flex flex-wrap align-items-center gap-2">
			<button type="button" class="btn btn-outline-light me-2">Login</button>
			<button type="button" class="btn btn-warning">Sign-up</button>
			<!-- START User Info-->
			<div class="dropdown flex-shrink-0">
				<button href="#" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
					<img src="@images/profiles/avatar.jpg" width="32" height="32" alt="mdo" class="rounded-circle">
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">New project</a></li>
					<li><a class="dropdown-item" href="#">Settings</a></li>
					<li><a class="dropdown-item" href="#">Profile</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" href="#">Sign out</a></li>
				</ul>
			</div>
			<!-- END PAGE HEADER WRAPPER -->
		</div>
	</div>
</div>