<h1>API Test</h1>

<table id="bookingsTable" class="table">
	<thead>
		<tr>
			<th>Booking ID</th>
			<th>Start Date Time</th>
			<th>Creation Date</th>
			<!-- Add more columns as needed -->
		</tr>
	</thead>
	<tbody>
		<!-- Table body will be populated dynamically -->
	</tbody>
	<caption>Total entries: <span id="totalEntries"></span></caption>
</table>

